version: "3.9"
services:
  app:
    build: ./app
    environment:
      - PORT=3000
      - SNS_TOPIC_ARN=arn:aws:sns:us-east-1:150540468369:counter-alerts
      - AWS_REGION=us-east-1
    ports:
      - "3000:3000"
    deploy:
      replicas: 1

  prometheus:
    image: prom/prometheus:v2.55.0
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:11.2.0
    ports:
      - "3001:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin123
    volumes:
      - grafana-data:/var/lib/grafana

volumes:
  grafana-data:
